<% @page_title = "アカウントの新規作成" %>
<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "アカウント一覧に戻る", :admin_members %></div>

<%= render "shared/errors", obj: @member %>

<%= form_for @member, as: "member", url: admin_members_path, method: :post do |form| %>
  <table class = "attr" >
    <tr>
        <th><%= form.label :new_profile_picture, "プロフィール画像" %></th>
        <td>
        </td>
    </tr>
    <tr>
        <th><%= form.label :name, "ユーザー名" %></th>
        <td><%= form.text_field :name  %></td>
    </tr>
    <tr>
        <th><%= form.label :role, "権限" %></th>
        <td><%= form.radio_button :role, 1 %>顧客 <%= form.radio_button :role, 2 %>店員 <%= form.radio_button :role, 3 %>管理者 </td>
    </tr>
    <tr>
        <th><%= form.label :point, "ポイント残高" %></th>
        <td><%= form.number_field :point ,value: 0, min: 0, max: 10000 %></td>
    </tr>
    <% if @member.new_record? %>
        <tr>
            <th><%= form.label :password, "パスワード" %></th>
            <td><%= form.text_field :password %></td>
        </tr>
    <% end %>
  </table>
  <div><%= form.submit %></div>
<% end %>