<% @page_title = "商品情報一覧" %>
<h1><%= @page_title %></h1>

<%= form_tag :search_items, method: :get, class: "search" do %>
    <%= text_field_tag "q", params[:q] %>
    <%= radio_button_tag name = "category" ,"1" , false %>
    <%= label_tag "item_category","ピザ" %>
    <%= radio_button_tag name = "category" ,"2" ,  false %>
    <%= label_tag "item_category","ドリンク" %>
    <%= radio_button_tag name = "category" ,"3" ,  false %>
    <%= label_tag "item_category","サイドメニュー" %>
    <%= radio_button_tag name = "category" ,"0" , true %>
    <%= label_tag "item_category","指定なし" %>
    <%= submit_tag "検索" %>
<% end %>

<div class="toolbar"><%= link_to "商品の新規登録", :new_admin_item %></div>

<% if @items.present? %>
  <table class="list">
    <thead>
      <tr>
        <th>商品番号</th>
        <th>商品名</th>
        <th>編集</th>
      </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <tr>
          <td style="text-align: right"><%= item.id %></td>
          <td><%= link_to item.name, [:admin, item] %></td>
          <td>
            <%= link_to "編集", [:edit, :admin, item] %> |
              <%= link_to "削除", [:admin, item], method: :delete,
              data: { confirm: "本当に削除しますか?" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>メニュー表がありません。</p>
<% end %>