<% @page_title = "注文詳細" %>
<h1><%= @page_title %></h1>

<div class="toolbar"><%= link_to "注文の編集", :edit_admin_order %></div>

<table class="attr">
  <tr>
    <th>注文番号</th>
    <td><%= @order.id %></td>
  </tr>
  <tr>
    <th>金額</th>
    <td><%= @order.amount %></td>
  </tr>
  <tr>
    <th>使用ポイント</th>
    <td>
      <%= @order.use_point %>
    </td>
  </tr>
  <tr>
    <th>作成状況</th>
    <td>
      <%if @order.create_start == true%>
        すでに作成開始
      <% else %>
        作成未開始
      <% end %>
    </td>
  </tr>
  <tr>
    <th>受け渡し状況</th>
    <td>
      <%if @order.reserved == true%>
        受け渡し完了
      <% else %>
        受け渡し未完了
      <% end %>
    </td>
  </tr>
</table>

<p><%= link_to "注文一覧へ戻る" , admin_orders_path %></p>