<% @page_title = "在庫情報編集" %>
<h1><%= @page_title %></h1>

<%= form_for [:admin, @stock] do |form| %>
  <table class="attr">
    <tr>
      <th>商品名</th>
      <td><%= @stock.from.name %></td>
    </tr>
    <tr>
      <th><%= form.label :number, "在庫数" %></th>
      <td><%= form.number_field :number, value: @stock.number, min: 0, max: 1000 %></td>
    </tr>
  </table>
  <div><%= form.submit %></div>
<% end %>

<p><%= link_to "在庫一覧へ戻る", [:admin, @stock] %></p>
