<% @page_title = "在庫情報一覧" %>
<h1><%= @page_title %></h1>


<table class = "attr">
  <thead>
    <tr>
      <th>商品名</th>
      <th>在庫</th>
      <th>在庫追加</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock|%>
      <tr>
        <td><%= stock.from.name %></td>
        <td><%= stock.number %></td>
        <td>
          <%= form_for [:admin, stock]  do |form| %>
            <%= form.number_field  :number , value: 0, min: 0, max: 100 %><%= form.submit %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "管理TOPへ戻る", :admin_stocks %></p>