<% if @items.present? %>
  <%= render "shared/errors", obj: @order if @order.present? %>
  <table calss = "list">
    <thead>
      <tr>
        <th>商品番号</th>
        <th>商品名</th>
        <th>個数</th>
        <th>金額</th>
        <th>削除</th>
     </tr>
    </thead>
    <tbody>
      <% @items.each do |item| %>
        <% if session[:cart][item.id.to_s] != 0 %>
          <tr>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= session[:cart][item.id.to_s] %></td>
            <td><%= item.price %></td>
            <td><%= link_to "削除", zero_cart_path(item_id: item.id), method: :post %></td>
            <% @sum = @sum + item.price*session[:cart][item.id.to_s] %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <h3>合計金額<%= @sum %></h3>
  <p>使用ポイントを選んでください。 ポイント残高 <%= current_member.point %></p>
  <% if @sum != 0 %>
    <%= form_with  url: confirm_cart_path, method: :post, local: true  do |form|%>
      <div>ポイント<%= form.number_field :mypoint , value: 0, min: 0,max: 1000 %></div>
      <div><%= form.submit "注文を確定する" %></div>
    <% end %>
  <% else %>
    <p>カートに商品が入ってません</p>
  <% end %>
<% else %>
  <p>カートに商品が入ってません</p>
<% end %>

<div><%= link_to "<<topへ戻る", :root %></div>