<% @page_title = "メニュー詳細" %>
<h1><%= @page_title %></h1>
<%= render "body" %>

<% if current_member %>
    <%= form_with url: add_cart_path, method: :post do %>
        <%= render "cart_form"%>
    <% end %>
<% end %>

<%= menu_link_to "<<商品一覧に戻る", :items %>