<% @page_title = "在庫一覧" %>
<h1><%= @page_title %></h1>

<% if flash[:alert] %>
  <p class="error"><%= flash[:alert] %></p>
<% end %>

<table class = "attr">
  <thead>
    <tr>
      <th>商品名</th>
      <th>在庫</th>
      <th>在庫追加</th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock|%>
      <tr>
        <td><%= stock.from.name %></td>
        <td><%= stock.number %></td>
        <td>
          <%= form_for [:staff, stock]  do |form| %>
            <%= form.number_field  :number %><%= form.submit %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to "管理TOPへ戻る", :staff_root %></p>