<% @page_title = "顧客マイページ" %>
<h1><%= @page_title %></h1>

<ul class= "tolbar">
    <%= menu_link_to "アカウント情報の編集", :edit_account %>
    <%= menu_link_to "パスワードの編集" , :edit_password %>
    <%= menu_link_to "注文一覧はこちら", account_orders_path %>
</ul>

<%= render "members/body" %>
<p><%= menu_link_to "戻る", :root %></p>